In [10]:
#!/usr/bin/python
# -*- coding: utf-8 -*-
import MySQLdb as mdb
import sys
try:
#     con = mdb.connect('128.206.116.195', 'tg4_ro', '?3stEt7!3hUbRa-R', 'tw4_db');
    con = mdb.connect('opendata.missouri.edu', 'datascience', 'datascience', 'datascience');
    cur = con.cursor()
    cur.execute("SELECT VERSION()")
    ver = cur.fetchone()
    
    print ("Database version : %s " % ver)
    
except mdb.Error as e:
  
    print ("Error %d: %s" % (e.args[0],e.args[1]))
    sys.exit(1)
    
finally:    
        
    if con:    
        con.close()

Database version : 5.5.43-MariaDB

In [ ]:
import MySQLdb as mdb
import sys

try:
    con = mdb.connect('128.206.116.195', 'tg4_ro', '?3stEt7!3hUbRa-R', 'tw4_db');
#     con = mdb.connect('opendata.missouri.edu', 'datascience', 'datascience', 'datascience');
    cur = con.cursor()
#     cur.execute("SELECT created_at, from_user, from_user_followers, text from tweet where job_id=1196 limit 10")
    cur.execute("Select year(created_at) as theYear,month(created_at) as theMonth, week(created_at) as theWeek, \
    day(created_at) as theDay, count(*) as counter from tweet where job_id=1196 \
    group by theMonth, theWeek, theDay limit 10")
 
    ver = cur.fetchall()
    for row in ver:
        #created_at = row[0]
        #print "%s, %s" % (row["created_at"], row["from_user"], row["from_user_followers"], row["text"])
        #print "Number of Rows Returned:, %d" % ver.rowcount
        #print (row.theMonth, row.theWeek, row.theDay, row.counter)
        print(row.theYear,row.theMonth,row.theWeek,row.theDay)
except mdb.Error as e:
    print ("Error %d: %s" % (e.args[0],e.args[1]))
    sys.exit(1)

finally:
    if con:
        con.close()

In [2]:
# -*- coding: utf-8 -*-
import MySQLdb as mdb
import sys
import pandas as pd
import csv
        
def aa():
    try:

        con = mdb.connect('128.206.116.195', 'tg4_ro', '?3stEt7!3hUbRa-R', 'tw4_db');

        cur = con.cursor()

        cur.execute("Select created_at,text,from_user,from_user_id_str,from_user_name,from_user_followers,from_user_following,from_user_favorites,from_user_tweets,from_user_timezone,to_user,to_user_id_str,to_user_name,source from tweetchicago")

        ver = cur.fetchall()
        list_=[]
        for row in ver:
            list_.append(row)
        df=[]
        df = pd.DataFrame(list_)   
        df.to_csv('chicago_new.csv')    
        return 1 
#         pd.DataFrame(list_,columns = ['from_user','text'])
        
    except mdb.Error as e:
        print ("Error %d: %s" % (e.args[0],e.args[1]))
        sys.exit(1)

    finally:
        if con:
            con.close()
            
df = aa()
print(df)

1